*{
    margin: 0;
    padding: 0;
    background: #22a9b3;
    color: #ffffff;
}
.logo{
   font-size: 100px;
   text-align: center;
}
.navbar ul{
    list-style: none;
    display: flex;
    align-content: center;
}
.menu a{
    text-decoration: none;
}


/* Contact page */

.contact-form{
    width: 70%;
    height: 600px;
    border: 3px solid #ffffff;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

label{
    margin: 10px;
}

input{
    padding: 10px;
}
.submit{
    border: 3px solid #ffffff;
    border-radius: 30px;
    margin: 0 auto;
    width: 50px;
}






















/* #map{
    height: 300px;
    width: 400px;
} */
