* {
    margin: 0;
    padding: 0;
    background: #22a9b3;
    color: #ffffff;
}

/* Index.html page */
/*==================================================================*/
/*_________________________________Header Styling____________________*/
.navigation{
    border: 2px solid #ffffff;
}
.logo h1{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.logo a{
    text-decoration: none;
    color: #ffffff;
}
.menu{
    text-align: center;
}
.menu li{
    list-style: none;
    padding: 10px;
    font-size: 18px;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
}
/*_________________________________Game Area Styling____________________*/

.game-box{
    height: 500px;
    width: 100%;
    background-color: antiquewhite;
}

/* Contact page */
/*==================================================================*/

.contact-form {
    width: 70%;
    height: 650px;
    border: 3px solid #ffffff;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

label {
    margin: 10px;
}

.name,
.email,
.text-area {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
}

.submit {
    border: 3px solid #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    width: 120px;
}






















/* #map{
    height: 300px;
    width: 400px;
} */
